<div class="container main">
  <div class="row">
    <div class="col-md-3">
      <div class="side-bar">
        <div class="side-nav">
          <ul class="nav nav-pills nav-stacked nav-right">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about">About</a>
            </li>
            <li>
              <a href="/feed.xml">RSS</a>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-md-9">
      {{ content }}
    </div>

  </div>
</div>
