---
layout: default
---

<div class="site-info">
  <h1>Welcome to <em>Qin Cheng Chen's</em> blog</h1>
</div>

{% include social.html %}

<div class="home">

  <div class="post-list">

    {% for post in site.posts %}
    <div class="post">

      <div class="post-title">
        <h1>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h1>
      </div>

      <div class="post-meta">

        <time class="date">
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          {{ post.date | date: "%b %d, %Y" }}
        </time>

        <span class="comment">
          <i class="fa fa-commenting-o" aria-hidden="true"></i>
          <a href="{{ post.url | absolute_url }}#disqus_thread">0 Comments</a>
        </span>

      </div>

      <div class="post-content">
        {{ post.content }}
      </div>

      <hr>

    </div>
    {% endfor %}

  </div>

  <!--<ul class="post-list">-->
    <!--{% for post in site.posts %}-->
      <!--<li>-->

        <!--<h2>-->
          <!--<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>-->
        <!--</h2>-->

        <!--<span class="post-meta">-->

          <!--<time class="date">-->
            <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
            <!--{{ post.date | date: "%b %d, %Y" }}-->
          <!--</time>-->

          <!--<span class="comment">-->
            <!--<i class="fa fa-commenting-o" aria-hidden="true"></i>-->
            <!--<a href="{{ post.url | absolute_url }}#disqus_thread">0 Comments</a>-->
          <!--</span>-->

        <!--</span>-->

        <!--<div>{{ post.content }}</div>-->

        <!--<hr>-->

      <!--</li>-->
    <!--{% endfor %}-->
  <!--</ul>-->

</div>
